[2020-03-15 22:45] diedummydie opened #1 "'Active' not calculated correctly"
Active should subtract Recovered and Deaths from Confirmed, but it just repeats the figure for Confirmed.

![Screen Shot 2020-03-15 at 6 41 03 PM](https://user-images.githubusercontent.com/1759544/76712236-1727fb80-66ed-11ea-882c-fe84867786e2.png)

[2020-03-15 22:47] diedummydie opened #2 "Emoji break alignment in terminals that double space emoji"
Please consider adding an option to omit the emoji.

![Screen Shot 2020-03-15 at 6 41 03 PM](https://user-images.githubusercontent.com/1759544/76712263-6a9a4980-66ed-11ea-86cf-a37f7dfc9e36.png)

[2020-03-15 22:49] diedummydie commented on #1
note — 'Active' category is calculated correctly for the first row.

[2020-03-15 23:07] sagarkarira commented on #2
Thanks, @diedummydie.
I have removed emojis for now. I will add optional param.

[2020-03-15 23:08] sagarkarira commented on #1
Fix https://github.com/sagarkarira/coronavirus-tracker-cli/commit/9c99ebe1faf2aa58d1ececfada4ab71f2914b978

[2020-03-15 23:08] #1 closed

[2020-03-15 23:20] diedummydie commented on #2
Looks good, thank you for responding and for creating this tool.

FYI, for the deltas there are also the unicode characters ▲ and ▼ which are always single-wide, from the [geometric shapes](https://en.wikipedia.org/wiki/Geometric_Shapes) block.

[2020-03-16 09:23] matt-horwood-mayden opened #3 "Remove Spaces in names"
Thanks for this tool, but could you please remove spaces from country names?

E.G. United Kingdom -> could be United_Kingdom or UK

[2020-03-16 11:43] Spaniol opened #4 "Support JSON content-type"

[2020-03-16 11:56] Iamnome commented on #3
It is annoying but %20 in place of the space works for now.

[2020-03-16 13:08] alexanderadam commented on #2
It's still broken for me:

![Screenshot_20200316_140803](https://user-images.githubusercontent.com/372620/76761359-95d57500-678f-11ea-9e7d-ea31a2aefcd2.png)

[2020-03-16 15:09] XhmikosR opened #6 "Windows support?"
Hey, there @sagarkarira, thanks for this!

It appears this doesn't work at all on Windows 10 native cmd. Not sure how hard this would be, I thought I'd report it :)

![Annotation 2020-03-16 170812](https://user-images.githubusercontent.com/349621/76771986-d55c8b00-67a8-11ea-892b-1b3db1e5e459.png)

[2020-03-16 15:24] Astaruf opened #7 "Add detailed info about Italy cases"
You could add some detailed info about Italy picking up info from here:
http://opendatadpc.maps.arcgis.com/apps/opsdashboard/index.html#/b0c68bce2cce478eaac82fe38d4138b1

[2020-03-16 16:34] sagarkarira commented on #2
I've removed all the emojis for now. I thought only the flag emojis are causing the problem. I think I will add an optional param because emojis are ❤️

[2020-03-16 16:36] sagarkarira commented on #3
I've fixed this by adding country code as params.
You can try using

`curl https://corona-stats.online/UK`
or
`curl https://corona-stats.online/GB`

[2020-03-16 16:36] #3 closed

[2020-03-16 16:40] Falkgaard opened #8 "Feature request: Regions or Top N"
Hi,
Showing all countries in the list takes up too many pages of the terminal,
but it would still be nice to be able to see more than one country.

My suggestion is two-fold:

curl https://corona-stats.online/X

where X is a number (e.g. 20 for "top 20" countries by number of cases)

and/or:

curl https://corona-stats.online/REGION

where region could be like Europe, Scandinavia, Caribbean,  Medit

[2020-03-16 17:04] sagarkarira commented on #4
Thanks to @lucasfnicolau , this is live https://github.com/sagarkarira/coronavirus-tracker-cli/commit/fd004c0530ae5245cd0fc779b8fccba67d6d4c74

[2020-03-16 17:04] #4 closed

[2020-03-16 17:18] LesnyRumcajs opened #10 "More frequent updates request"
Perhaps hourly / every two hours? So far it's the best tool out there except for the severely outdated information.

[2020-03-16 18:51] sagarkarira commented on #8
Thanks @Falkgaard .
This sounds great.
 I will work on this after adding news feed from [twitter](https://twitter.com/BNODesk)

[2020-03-16 20:50] CyberDracula commented on #6
what `curl` version do you use?

[2020-03-16 21:09] drego85 opened #12 "Add last_updated information"
Hello,
thank's for your job.

I think it is useful to indicate the date and time of the last update of the data.

Your source reports this information in the "last_updated" field, it would be enough to report it in the output.

Thanks

[2020-03-17 05:07] jeffbabuyo commented on #2
No color?

![image](https://user-images.githubusercontent.com/48270144/76823814-46a34900-6850-11ea-8b95-758a7e7824b5.png)

[2020-03-17 07:03] XhmikosR commented on #6
Sorry, forgot to mention the curl version :/

It happens with Windows own curl and the latest curl version, so both of these:

[code]

[2020-03-17 07:13] CyberDracula commented on #6
Update to anything above 7.62.0. There is an UTF-8 bug in your version:

[https://github.com/curl/curl/issues/3008](url)

[2020-03-17 07:20] XhmikosR commented on #6
Like I said, I do use 7.69, same issue. It's unrelated to the curl version. It's due to Windows not supporting those UTF characters.

[2020-03-17 10:02] jeff-aronow opened #15 "Palestine showing incorrect data."
![image](https://user-images.githubusercontent.com/26280681/76845123-4007d800-6836-11ea-92e8-080691f0d3b2.png)
For some reason, Palestine is showing as 0, but I believe they have like 37 cases as of this morning 3/17 10:00 GMT.

Also, seriously?
"occupied Palestinian territory (PS)"

[2020-03-17 10:22] sagarkarira commented on #15
@jeff-aronow Sorry for that. But my tracker is just using the data from [John Hopkins Univeristy](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data). They update it every 24 hours.

 Also, I am just listing the countries as provided by them.  You can create an issue there:

https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data

[2020-03-17 10:22] #15 closed

[2020-03-17 10:23] sagarkarira commented on #10
Thanks @LesnyRumcajs

I will try and see what can be done. But John Hopkins data is updated every 24 hours.  You can check it out [here](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data)

[2020-03-17 10:34] CyberDracula commented on #6
![OK](https://user-images.githubusercontent.com/1976475/76847917-7dc32b80-684b-11ea-8fca-d35a295e2e97.png)
works ok for me with 7.69.1

[2020-03-17 11:02] XhmikosR commented on #6
That's really weird, thanks for the hint.

I indeed can reproduce this, so I will close the issue.

[2020-03-17 11:02] #6 closed

[2020-03-17 16:56] sagarkarira commented on #12
Done. https://github.com/sagarkarira/coronavirus-tracker-cli/commit/6de7019e9a2100c01bf809165db4b7f6785d66e4

[2020-03-17 16:56] #12 closed

[2020-03-18 09:19] LesnyRumcajs commented on #10
Ah, I thought there are more sources and / or the data source is updated more often. Makes more sense now. Thanks!

[2020-03-18 09:22] sagarkarira commented on #10
@LesnyRumcajs I will be adding the latest news/updates command today. That will help with the discrepancy.

[2020-03-18 11:05] skeld opened #20 "[bug] json: deathsByDay and recoveredByDay are identical"
When parsing the json format (https://corona-stats.online/?format=json), it appears that the deathsByDay and recoveredByDay are identical values.
Tested for France and China, using R and jsonlite.

[2020-03-18 11:13] sagarkarira commented on #20
Thanks, @skeld.

Pushed a fix https://github.com/sagarkarira/coronavirus-tracker-cli/commit/1a975431b37e068d7a6ce3f8ec0ba0678dba6e20

[2020-03-18 11:13] #20 closed

[2020-03-18 15:45] Empty2k12 commented on #10
Something that is updated more often is https://www.worldometers.info/coronavirus/ but I'm not sure you can use their data.

[2020-03-18 15:55] sagarkarira opened #21 "Render HTML when user-agent is not curl."
I am seeing a lot of requests coming from web browsers.

Sadly I am sending ASCII table which is meant for terminal and is not rendered properly in the browser.

I think creating a simple minimalistic Html table will do the job for these users.

I will pick this up on weekend but if anyone is interested, just let me know.

[2020-03-18 22:45] archcorsair commented on #21
I can work on this

[2020-03-18 22:55] sagarkarira commented on #21
Thanks, @archcorsair . 👍  Feel free to ask anything.

[2020-03-18 23:06] archcorsair commented on #21
I noticed in #14 you mentioned that you did not want to respond with plain text.

I am thinking on checking if the request did not originate from a curl user agent then we can return HTML from an HTML template we can populate with the table data. This will require building out a row/column builder manually. If you have any better ideas I'm open to hearing them. If there's an existing package that

[2020-03-19 00:21] archcorsair commented on #21
I've written a very simple HTML table builder and the WIP result, unstyled, looks like this:
![image](https://user-images.githubusercontent.com/1036921/77019083-f0600400-693c-11ea-8fbe-9ad17fc5e96d.png)

[2020-03-19 02:54] WeileiZeng opened #24 "Open Source Helps!"
Thanks for your work to help the people in need! Your site has been added! I currently maintain the Open-Source-COVID-19 page, which collects all open source projects related to COVID-19, including maps, data, news, api, analysis, medical and supply information, etc. Please share to anyone who might need the information in the list, or will possibly contribute to some of those projects. You are al

[2020-03-19 07:09] iamsugam commented on #21
While the website https://corona-stats.online/ shows an unmanaged table on browser, viewing the source i.e. view-source:https://corona-stats.online/ will show readable table for the visitor on browser.

[2020-03-19 07:18] hackakshay commented on #21
how are you getting updates on data please let me know
and yeah i can help you with this

[2020-03-19 07:44] atharvaj77 opened #25 "Filter by country not working"
after running command corona 'country name', it shows the entire table without filtering out country specific info. I think there is problem with bycountry.js

[2020-03-19 07:52] ssiyad commented on #25
Can you please post the exact command you used?

[2020-03-19 08:17] atharvaj77 commented on #25
I used the command `corona India`, which returned me the entire table
![Screenshot from 2020-03-19 13-45-53](https://user-images.githubusercontent.com/58818674/77045839-fced6680-69e7-11ea-92fc-bb79a32bb47f.png)

[2020-03-19 08:35] sagarkarira commented on #21
@iamsugam @archcorsair The issue was with the font. It is not being rendered properly and the table boxes are breaking because the default font is not monospace. I set my browser font to Monaco and it worked. ✌️

![Screen Shot 2020-03-19 at 1 44 19 PM](https://user-images.githubusercontent.com/4711084/77046364-da0f8200-69e8-11ea-8dd3-e18369844ae4.png)

On the local server color, ANSI code are not

[2020-03-19 08:39] sagarkarira commented on #24
Awesome @WeileiZeng, thanks. Great job curating that list.

[2020-03-19 08:43] sagarkarira commented on #25
@atharvaj77 I think you might have an old version.

Just do corona `corona --version` if it is less than 0.4.0 then you need to update using `npm-update`

[2020-03-19 09:04] racztiborzoltan opened #27 "Add some small css rule to <body>"
Just a tip:

Please add the following CSS rules to the <body> in browser for a better look in browsers!

[code]

[2020-03-19 09:05] atharvaj77 commented on #25
Thanks it worked!

[2020-03-19 09:05] #25 closed

[2020-03-19 09:07] sagarkarira commented on #27
Thanks @racztiborzoltan , we have that discussion going on here: https://github.com/sagarkarira/coronavirus-tracker-cli/issues/21

[2020-03-19 09:08] racztiborzoltan commented on #27
Ok! All right!

[2020-03-19 09:08] #27 closed

[2020-03-19 16:18] CWempe opened #34 "Cannot get world wide data via JSON"
Maybe I am doing something wrong.

But when I fetch the following URL, I do not the total world wide data.

https://corona-stats.online/?format=json

The first Entry in the JSON list is China.

Without `?format=json` it looks god.

[2020-03-19 17:22] sagarkarira commented on #34
In the case of China, US, Canada, UK etc the data is grouped `province` so you need to aggregate it to get the total data.

[2020-03-19 17:41] CWempe commented on #34
I know.
But I don't care about thos.

I was expecting "World" to be the first element of the JSON.
Or do I have to summ all elements to get the total number?

[2020-03-19 18:20] sagarkarira commented on #34
@CWempe Oh, I will add this in some time.

[2020-03-19 18:30] sagarkarira commented on #21
@archcorsair Thanks for the PR. I think this template works for now. I can revisit this later for more improvements.
https://github.com/sagarkarira/coronavirus-tracker-cli/pull/28
Closing this for now.

[2020-03-19 18:30] #21 closed

[2020-03-19 19:50] #24 closed

[2020-03-19 19:55] sagarkarira commented on #10
@Empty2k12 They dont have an official API, sadly. I am looking for a realtime tracking API, especially because the new cases are coming up so fast. 😢

[2020-03-19 19:58] sagarkarira commented on #2
@jeffbabuyo Sadly curl request supports no color. As this project is hosted on Zeit Now and they are striping away ANSI codes. I have looked into it and found no solutions so far.

What you could do is install the global package from npm then run the command `corona`.
Check readme.

[2020-03-19 19:59] sagarkarira commented on #2
Closing this issue as emojis are added back with optional param.
```corona --emojis```
https://github.com/sagarkarira/coronavirus-tracker-cli/pull/19

[2020-03-19 19:59] #2 closed

[2020-03-19 20:33] LesnyRumcajs commented on #10
This page https://covid-19-sars.pl/ uses some allegedly WHO data from: https://coronavirus-19-api.herokuapp.com (which is supposed to be on par with worldometers).

[2020-03-19 22:33] sagarkarira commented on #34
@CWempe Check now. I have added the field. Search `World`.
https://github.com/sagarkarira/coronavirus-tracker-cli/commit/a6e12a51c175b7ebca34ed3affe04108468bfb06

[2020-03-19 22:54] CWempe commented on #34
Works as expected..
Thanks 👍

[2020-03-19 22:54] #34 closed

[2020-03-19 23:27] sagarkarira commented on #8
Added top N
`curl https://corona-stats.online?top=10`
`corona --top=10`

[2020-03-19 23:42] sagarkarira commented on #10
@LesnyRumcajs API looks good. I will try to integrate it tomorrow.

[2020-03-19 23:47] sagarkarira opened #35 "Command / Request to fetch latest tweets from @BNODesk"
[BNODesk](https://twitter.com/BNODesk) has been covering coronavirus since the start and it gives frequent news updates from the globe.

I think displaying 10 latest tweets from that handle will be helpful.

Feel free to comment.

[2020-03-20 07:19] XhmikosR opened #38 "Tighten HTTP headers"
I can make a PR later if you agree with this @sagarkarira

* https://observatory.mozilla.org/analyze/corona-stats.online

[2020-03-20 09:13] loop36 commented on #21
How about SPA?using Angular tables?

[2020-03-20 14:31] cmarcond opened #41 "Feature request: Historical Period"
Hi guys, is there a way to implement the cli to bring data from yesterday or the day before, and check the evolution of the pandemic?

[2020-03-20 14:52] sagarkarira commented on #41
@cmarcond Yes, the API I am using has all cases by data since 21 Jan.
You can check here: [https://corona-stats.online/italy?format=json](https://corona-stats.online/italy?format=json)

I had a plan to show graphs/charts in cli too. I will be doing this coming weekend.

[2020-03-20 15:05] sagarkarira opened #43 "Colors not appearing on curl request."
When you run the express server locally, you get colors because I am not stripping ANSI codes. But when you deploy to Zeit now, colors are not coming. Maybe because they are stripping ANSI codes.

I am not able to figure this out. If anyone has any idea please let me know.

[2020-03-20 15:27] XhmikosR opened #47 "Set `case sensitive routing` to false?"
From https://expressjs.com/en/api.html#app.settings.table:

[2020-03-20 15:37] XhmikosR commented on #43
@styfle: do you have any ideas maybe? :)

[2020-03-20 15:59] styfle commented on #43
Correct, when you visit `deployment.now.sh/_logs`  the logs don't include colors.

You might want to try Log Drains if you need more advanced logging https://zeit.co/blog/log-drains

[2020-03-20 16:00] XhmikosR commented on #43
@styfle I think @sagarkarira refers to using `curl https://corona-stats.online/` as opposed to running it locally like `curl locahost:3001`

[2020-03-20 16:15] mchamps opened #50 "Add data source information to README"
Can you please add the data sources to the README?

[2020-03-20 16:16] styfle commented on #43
Oh I understand now.

Try setting `FORCE_COLOR=1` to force chalk to set colors even without TTY.

[2020-03-20 16:18] styfle commented on #43
I created PR #51 but you don't have this repo linked so it didn't autodeploy.

Can you try signing up https://zeit.co/github

[2020-03-20 16:20] sagarkarira commented on #50
It's already there. Check [here](https://github.com/sagarkarira/coronavirus-tracker-cli#thanks-to)

[2020-03-20 16:34] sagarkarira commented on #43
@styfle It worked. ❤️
I've also integrated my repo with Zeit.

Check here: `curl https://coronavirus-tracker.sagark.now.sh`

Merging this PR.

[2020-03-20 16:34] #43 closed

[2020-03-20 16:45] sagarkarira commented on #43
@styfle I didn't know about Git integration. This is awesome.

[2020-03-20 17:14] nalipaz opened #52 "Recovered data is not coming through for US"
All states have a 0 recovered and the US total is also 0. However when looking at the source data you are pulling from it has 121 recovered as of today.

[2020-03-20 17:23] styfle commented on #43
@sagarkarira I highly recommend the Git Integration because then ZEIT Now will deploy each PR and you can try out the preview url before merging to master which will perform the production deployment.

https://twitter.com/rauchg/status/1240031831090532353

[2020-03-20 17:25] Jiab77 opened #53 "Remove HTML code when called from curl"
Hello,
I really love your project but the recent changes made it unuable with `curl`.

Is it possible to remove the `HTML` when call from `curl`? Is can be done easily by reading the `user-agent` header.

Thanks for your work.

[2020-03-20 17:43] sagarkarira commented on #53
@Jiab77 This is happening due to caching. Working on this.

[2020-03-20 17:56] Jiab77 commented on #53
Thanks for this quick reply @sagarkarira ! I understand so let's keep this issue open till it's not fixed.

[2020-03-20 18:55] XhmikosR commented on #43
BTW do you have any idea why the slowdown? This wasn't present a couple of says ago @sagarkarira https://gtmetrix.com/compare/G9zeIBok/INyNUd35#waterfall

[2020-03-20 19:05] sagarkarira commented on #43
Maybe it's because of the API I am using to fetch the data. I have added node-cache around the response, but I don't really know that Zeit allows variable caching as it is serverless.

The caching works locally but I haven't added logs to test in zeit dev or prod. I thought it would work. If the request is going to that API on each call then the response will be slow.

Also, I have removed Zeit sm

[2020-03-20 19:08] sagarkarira commented on #43
I will check if variable caching works on zeit by adding some logs and will let you know

[2020-03-20 19:11] XhmikosR commented on #43
I'm not familiar with this, I'm not sure how to solve it, but we should have CDN and caching for sure as you can see :/

[2020-03-20 19:19] sagarkarira commented on #52
Issue with the source api. I have created an issue there. https://github.com/ExpDev07/coronavirus-tracker-api/issues/113

[2020-03-20 19:33] styfle commented on #43
You should add `s-maxage` if you want to take advantage of the Smart CDN.

https://zeit.co/docs/v2/network/caching

[2020-03-20 22:57] sagarkarira commented on #53
Closing this, it was fixed here: https://github.com/sagarkarira/coronavirus-tracker-cli/commit/a921f609026dc9bc58796cd33ecf3eb2cf4d1268

[2020-03-20 22:57] #53 closed

[2020-03-20 23:08] Jiab77 commented on #53
Thank you so much!

I can reuse it with `curl` and `watch` that way:

[code]

Feel free to add that to your README. :wink:

[2020-03-21 07:58] Tampa opened #56 "Add census data for total population"
Pretty much as the title says knowing the actual number of people within a country to compare to infection numbers to gauge overall spread within a country. This data should be available through sources such as wikipedia or the official government pages of the respective countries.

[2020-03-21 09:09] sparse91 opened #57 "Can't access site from Iran"
[code]

I tried from multiple places.
It seems packets drop.

[2020-03-21 11:02] sagarkarira commented on #57
@sparse91 Is it happening every time or on some requests ?

[2020-03-21 11:04] sagarkarira commented on #35
Found this free API which converts the latest tweets to RSS feed. https://twitrss.me/

[2020-03-21 11:06] #50 closed

[2020-03-21 12:28] sparse91 commented on #57
Every time.

[2020-03-21 12:34] sagarkarira commented on #57
This app is hosted on Zeit. Maybe they are blocking request from Iran. I
will try to look into it after deploying couple of features. Till the time
I suggest you t use the global node module cli.  :)

On Sat, Mar 21, 2020 at 5:58 PM sparse91 <notifications@github.com> wrote:

[2020-03-21 12:39] sagarkarira commented on #7
@Astaruf Do you know if they have a source API?

[2020-03-21 15:01] RuiApostolo opened #59 "Feature request: Breakdown of cases in UK by nation/region"
Hi,

Any chance you can add the regional data to the UK breakout?
The individual governments upload their data daily around 2pm:
Scotland (has breakdown per region) - https://www.gov.scot/coronavirus-covid-19/
Northern Ireland - https://www.health-ni.gov.uk/news/latest-update-coronavirus-covid-19-4
Wales - https://phw.nhs.wales/news/public-health-wales-statement-on-novel-coronavirus-outbreak/
Engl

[2020-03-21 16:55] JayVii opened #61 "Mortality vs CFR"
The table lists "Mortality %", while I suspect it actually means Case Fatality Rate (CFR):

[From Wikipedia](https://en.wikipedia.org/wiki/Mortality_rate):

[From Wikipedia](https://en.wikipedia.org/wiki/Case_fatality_rate):

Therefore, "mortality" sets the deaths in perspective to entire population of a given region/country **after** the fact or within a certain time frame, while the CFR sets the

[2020-03-21 17:40] sagarkarira commented on #56
I have added a new API from a secondary source which is updated more frequently (every hour). It has a column `Cases per million`

Check here: `curl https://corona-stats.online?source=2`

[2020-03-21 17:46] sagarkarira commented on #10
Added a secondary API realtime updates. https://github.com/sagarkarira/coronavirus-tracker-cli/pull/60

[https://corona-stats.online/?source=2](https://corona-stats.online/?source=2)

[2020-03-21 17:46] #10 closed

[2020-03-21 19:54] CWempe opened #62 "'?source=2&format=json' not working as expected"
<https://corona-stats.online/?source=2&format=json> shows the green/black website instead of the raw json text.

[2020-03-21 19:57] sagarkarira commented on #62
I am working on it. Will push in some time.

[2020-03-21 20:26] LesnyRumcajs commented on #10
Great, thank you!

[2020-03-21 22:09] Berkmann18 commented on #59
That would be awesome, I suppose it would be nice to have the same for other countries who have regions (e.g. France, Spain, ...).

[2020-03-21 22:09] sagarkarira opened #63 "Add unit testing."

[2020-03-21 22:16] RuiApostolo commented on #59
I guess it's possible as long as they publish their results in a predictable place.

[2020-03-21 23:49] sagarkarira commented on #62
This is live now.

[2020-03-22 00:12] CWempe commented on #62
I think the format changed a little, but I got it working.

Thanks.

[2020-03-22 00:12] #62 closed

[2020-03-22 00:48] LordSushiPhoenix opened #64 "Country code does not match anything in the database."
Trying to request a specific country returns the error:

 "I am sorry. Something went wrong. Please report it
Country code CA does not match anything in the database. "

Viewing all countries seems to have no data.
![image](https://user-images.githubusercontent.com/19640845/77239829-548cfd00-6bb5-11ea-80d0-27f1230557de.png)

[2020-03-22 01:12] WindedDragon commented on #64
I'm also having this issue when trying to lookup Canada specifically.

[2020-03-22 08:32] XhmikosR opened #65 "Emojis in footer are not shown properly on Windows"
Initially reported [here](https://github.com/sagarkarira/coronavirus-tracker-cli/commit/506ee3b6c927b39c8434ffb914fea0a266e9a529#r37968536)

Maybe they should respect the emoji flag like the rest of the code?

[2020-03-22 08:55] sagarkarira commented on #64
Strange,
These are working :

[https://corona-stats.online/ca?source=2](https://corona-stats.online/ca?source=2)

[https://corona-stats.online/CA](https://corona-stats.online/CA)

Can you try these?

[2020-03-22 09:47] NicTanghe opened #68 "windows curl output not formatted."
so when i run `curl https://corona-stats.online ` on windows i get this.
havent realy used curl on windows before.

[code]

[2020-03-22 09:56] NicTanghe commented on #68
in cmd it outputs like the following.

[code]

[2020-03-22 10:23] LordSushiPhoenix commented on #64
They work, as well as the links I was initially having problems with. I'll close the issue.

[2020-03-22 10:23] #64 closed

[2020-03-22 10:47] lepasq commented on #68
This issue was previously addressed in [here](https://github.com/sagarkarira/coronavirus-tracker-cli/issues/6).

You should have a look at your `curl` version. Upgrading it might fix the issue.

[2020-03-22 11:14] lateparty commented on #65
This is true for shells/interpreters opened through "Windows Console" i.e. native Powershell, Command Prompt, and WSL (Windows Subsystem for Linux) but the "Windows Terminal" app does display the emojis correctly in all shells/interpreters it opens.

It's a known issue I discovered a few hours ago re: this when I was using WSL and setting up my corona stats bash commands on my linux server. I did

[2020-03-22 13:08] simsus opened #69 "Display more than one country"
Maybe an interesting feature, but not important:
curl http://corona-stats.online/[countrycode] just displays one country.
curl http://corona-stats.online/[countrycode1]&[countrycode2]... could display more than one country and then a comparision between these countrys / selections is easier

[2020-03-22 13:25] eabase commented on #65
You need to set a different character set (i.e. the font) used in your terminal.
This is not a bug, but a windows shell issue. Please close.

[2020-03-22 13:27] eabase commented on #68
duplicate of #65

[2020-03-22 13:29] eabase opened #70 "Add the data sources used for each country"
Please Add the data sources used for each country.
Preferably in a table in the README or where we locate it.

[2020-03-22 13:32] XhmikosR commented on #68
Not a duplicate of #65, but a duplicate of #6. The solution to that is to not use the curl which sips with Windows 10 since it's severely outdated, but instead use the latest curl version from their website.

[2020-03-22 13:32] XhmikosR commented on #65
This is a valid issue with the default Windows cmd. The emojis should respect the existent flags and not display blindly, like it happens in all other places.

[2020-03-22 13:39] eabase opened #71 "Data not updated with most recent."
**Where are your data sources taken from?**

For several countries, the data is not up to date with this tool, as it is on their official sites.
Please explain how to fix this.

E.g. For Lithuania:
[code]

Versus:
* https://infogram.com/lietuviskas-live-koronaviruso-skaiciavimas-1hnp27y0vyjy2gq
* https://www.delfi.lt/media/corona-data/lithuania.php

---

![brave_2020-03-22_15-37-19](https://user-i

[2020-03-22 13:41] sagarkarira commented on #71
Source 1 is updated once a day. [https://corona-stats.online/Lithuania?minimal=true&source=1](https://corona-stats.online/Lithuania?minimal=true&source=1)

Source 2 is updated every 15 minutes. [https://corona-stats.online/Lithuania?minimal=true&source=2](https://corona-stats.online/Lithuania?minimal=true&source=2)

[2020-03-22 13:42] sagarkarira commented on #71
I will add it this to README.
Source 1 is JHU
Source 2 is Worldometers

[2020-03-22 13:44] sagarkarira commented on #61
I will change it to CFR.

[2020-03-22 13:50] eabase commented on #65
Probably, but that is not an issue for this code. That is a windowism.

No that is not correct. If your character set doesn't support UTF-8 or Emojis, you will always get this garbage. CHange the CMD font and see for yourself.

[2020-03-22 13:55] eabase commented on #71
Ah, yeah, JHU is pretty bad...

BTW. Just noticed I am not able to use: `minimal` and `source` at the same time?
[code]

[2020-03-22 14:00] sagarkarira commented on #71
@eabase I made a typo. Here is the correct one.

`curl https://corona-stats.online/Lithuania?minimal=true&source=2`

[2020-03-22 14:01] sagarkarira commented on #70
I will add this to README in the next push.

[2020-03-22 14:02] sagarkarira commented on #69
Sounds good. I will implement this after I am done with charts implementation.

[2020-03-22 16:23] eabase commented on #71
@sagarkarira
I just noticed that line above is still using source#1 even if you say source=2...

[2020-03-22 16:23] XhmikosR commented on #65
Whatever, I give up.

@sagarkarira feel free to close this or respect the emoji flag like it's done in all other cases.

[2020-03-22 16:30] sagarkarira commented on #71
@eabase [Source2](https://corona-stats.online/Lithuania?minimal=true&source=2) returns 129 cases whereas default [Source 1](https://corona-stats.online/Lithuania?minimal=true) returns 83 cases.

[2020-03-22 18:41] eabase commented on #71
Yeah, but not when combined with the `minimal`:
[code]

[2020-03-22 18:47] eabase commented on #38
Good idea.

[2020-03-22 18:48] eabase commented on #57
...or a vpn

[2020-03-22 18:57] sagarkarira commented on #71
I think curl is removing second param. Can you put quotes around the request like this and try:

`curl "https://corona-stats.online/Lithuania?minimal=true&source=2"`

[2020-03-22 19:29] sagarkarira commented on #70
I've added data sources in the [readme](https://github.com/sagarkarira/coronavirus-tracker-cli#data-sources)

[2020-03-22 19:29] #70 closed

[2020-03-22 19:30] sagarkarira commented on #65
Closing this. I've removed emojis from footer text.

[2020-03-22 19:30] #65 closed

[2020-03-22 19:40] sagarkarira commented on #56
^Closing this.

[2020-03-22 19:40] #56 closed

[2020-03-22 19:41] sagarkarira commented on #59
Is there an API wrapping over this data?

[2020-03-22 19:45] RuiApostolo commented on #59
Sorry, I have no idea.

[2020-03-22 19:54] sagarkarira commented on #61
Fixed went live in this. https://github.com/sagarkarira/coronavirus-tracker-cli/pull/72

[2020-03-22 19:54] #61 closed

[2020-03-22 20:51] eabase commented on #71
@sagarkarira  Great! That did it.

[2020-03-22 20:51] #71 closed

[2020-03-22 21:00] eabase opened #74 "Browser is output is terminal green, where are the colors?"
I'm pretty sure that earlier today when I put the URL in my browser, I got all the colors. But now I only get that terrible green.

@sagarkarira  Did you change something? (It was nice to have that in the browser as well.)

[2020-03-22 21:03] sagarkarira commented on #74
@eabase Browser colors were always green. To implement colors in the browser would require creating a table in HTML then adding CSS for each column.

It would take a considerable time.

[2020-03-23 03:14] c0debreaker opened #75 "confirmedByDay, recoveredByDay and deathsByDay arrays in json output"
Awesome tool!

I don't understand the numbers inside these arrays. Do each index represent something? It looks like it pertains to a single `day`. However, I'm not sure what the start date is or reference starting date.

Here's an example where input is Philippines. It's just a snippet from the complete json output

[code]

Thanks!

[2020-03-23 10:13] NicTanghe commented on #68
i don't use the curl wich ships with windows 10 as far as i know i'm using
the one i downloaded with chocolatey wich is the latest available on
windows.
(also it works in bash just not in ps or cmd)

Op zo 22 mrt. 2020 om 14:32 schreef XhmikosR <notifications@github.com>:

[2020-03-23 10:22] XhmikosR commented on #68
You probably aren't though. Do `where curl` and paste the output.

[2020-03-23 15:12] sagarkarira commented on #75
The date is fixed so I didn't add it. It's same for all. Index[0] represents 21 Feb.
It's being used to create a graph which is not that great but I couldn't find any better library.

`curl https://corona-stats.online/graph`

[2020-03-23 15:13] sagarkarira commented on #74
@eabase Can we close this?

[2020-03-23 17:52] #38 closed

[2020-03-23 21:55] NathanBlais opened #80 "Request: Can you add county data for bigger states like California and Texas?"

[2020-03-23 22:13] eGredius commented on #74
Hi, @sagarkarira . I want to follow by asking a color-related question. Is it possible to curl the data site in terminal with color disabled? I was actually trying to grep the numbers to create a status bar script.

Thanks for your effor on this project.
Cheers

[2020-03-23 23:17] ptsteadman commented on #8
It would be nice if the top parameter also worked for states / regions. ex: `corona us --top=10`.

[2020-03-24 05:29] devianpctek opened #81 "error cannot read property 'latest' of undefined"
I'm getting the following error when trying to get the graph
`I am sorry. Something went wrong. Please report it
    Cannot read property 'latest' of undefined
  =================`

[2020-03-24 05:47] abspython commented on #81
Same for me. https://corona-stats.online give the same error.

[2020-03-24 06:47] MarcinWieczorek commented on #81
I thought I'd be faster. +1

[2020-03-24 07:57] sagarkarira commented on #81
Sorry, working on it.

[2020-03-24 08:46] MarcinWieczorek commented on #81
Is source=2 supposed to have different json schema?

[2020-03-24 08:51] sagarkarira commented on #81
@MarcinWieczorek I have source 2 as a default one for now. When I fix JHU I will change it back. Yes it has a different schema. Historical cases and state-wise data is not available in source 2.

[2020-03-24 08:55] MarcinWieczorek commented on #81
Yeah I understand that some data is not available, but keys such as `cases` in source 2 and `confirmed` in source 1 should be unified, right?

[2020-03-24 10:45] sbruselario commented on #81
Same for me.

URL: https://corona-stats.online/argentina/graph
Output: _I am sorry. Something went wrong. Please report it Cannot read property 'latest' of undefined_

[2020-03-24 11:02] sagarkarira commented on #81
I've fixed this. They have removed recovered so I am thinking of making source 2 as default source. What do you think?

[2020-03-24 11:40] MarcinWieczorek commented on #81
I'm against changing json schema, you'd break people's scripts. Unify it and then change. I'm for the change because current source's data is quite delayed due to daily updates.

[2020-03-24 11:55] sagarkarira commented on #81
I will try to add similar keys as in source 1 to source 2 data wherever I can. Then I would change it to default.
JHU does not provide a real-time API and also keep changing their data uploaded to Github. They have also removed the US state-level data and now they are uploading it separately.

Whenever I do this change I will add this to footer.

[2020-03-24 11:56] #74 closed

[2020-03-24 11:56] #75 closed

[2020-03-24 12:26] tbandixen commented on #81
Thank you for your time and effort!

[2020-03-24 13:54] rbledsaw3 opened #82 "Breakdown by US States is no longer available"
I used to be able to get a breakdown by each US State (e.g. Illinois, Michigan, New York, etc.,) with https://corona-stats.online/US. Now it just shows the total data for the country instead.

[2020-03-24 13:57] sagarkarira commented on #82
JHU has removed that data from their global list. They are uploading a
separate file now for US. I will add it as soon as I get time.

On Tue, Mar 24, 2020 at 7:24 PM Robert Bledsaw <notifications@github.com>
wrote:

[2020-03-24 13:59] rbledsaw3 commented on #82
Okay. I'll close the issue then. Thanks :)

[2020-03-24 13:59] #82 closed

[2020-03-24 22:50] archcorsair commented on #68
@NicTanghe You are using powershell right? If you are, curl is aliased to `Invoke-RestMethod`. Meaning you aren't actually using curl to make this GET request. This is in fact a bug and should be fixed with better non-browser request handling. I can work on a fix for this

[2020-03-24 23:03] sagarkarira commented on #81
Made source 2 as a default source.
US state-level data was also removed from JHU. I found an API source. Will add it tomorrow.

[2020-03-24 23:03] sagarkarira commented on #80
I will work on it.

[2020-03-25 00:02] bratekarate opened #85 "--graph does not work for specific country"
when using `corona <country> --graph`, `<country>` is ignored. The graph is always shown for World.

I submitted #84 to fix it.

[2020-03-25 05:28] DefunctLizard opened #86 "502: BAD_GATEWAY"
https://corona-stats.online/ is giving a 502: BAD_GATEWAY error...

Here is more information:

[code]

[2020-03-25 07:03] Iamnome opened #87 "World data is not consistent"
When requesting the data, the information for the World is not correct across the two different requests that I did.  I have attached screenshots to show the issue.  Both sets of data say they were updated at 6:03 UTC.

![cstats1](https://user-images.githubusercontent.com/62244601/77510369-7f51ac80-6e66-11ea-9a9d-96e5d4665e6c.png)

![cstats2](https://user-images.githubusercontent.com/62244601/7751

[2020-03-25 07:52] XhmikosR opened #88 "Add a favicon.ico"
Currently favicon.ico returns a 404. Would be nice to have a favicon.ico, even a dummy one :)

[2020-03-26 11:40] sagarkarira commented on #86
It was an issue with the source API. Their server crashed yesterday. Its now fixed.

[2020-03-26 15:23] infiltratorXYZ commented on #86
Now server crashed again:

btw...
Your API is very useful project. I appreciate it!

[2020-03-26 15:28] sagarkarira commented on #86
[Source API](https://corona.lmao.ninja/) down again. Their devs are working on it.

You can use [https://corona-stats.online/?source=1](https://corona-stats.online/?source=1) till that time.

[2020-03-26 15:50] marekkowalczyk opened #90 "Site https://corona-stats.online/ down"
502: BAD_GATEWAY
Code: NO_STATUS_CODE_FROM_FUNCTION
ID: arn1:4jhs7-1585237699043-d15b89c01c8e

[2020-03-26 15:52] sagarkarira commented on #90
https://github.com/sagarkarira/coronavirus-tracker-cli/issues/86

[2020-03-26 15:53] infiltratorXYZ commented on #86
Ok, everything works for now

[2020-03-26 16:01] sagarkarira commented on #90
They fixed it: https://github.com/NovelCOVID/API/issues/206

[2020-03-26 16:01] #90 closed

[2020-03-26 16:02] sagarkarira commented on #86
They fixed it: https://github.com/NovelCOVID/API/issues/206

[2020-03-26 16:02] #86 closed

[2020-03-26 22:44] hallzy opened #91 "Cases per 1 Million are not always shown correctly"
https://corona-stats.online/IT

[code]

The cases per 1 million for italy here are shown as `1`, but it is actually `1,333` on the worldometer website at the time of writing.

Not sure if this is an issue with the api being used or how it is displayed. It could have something to do with the comma?

[2020-03-27 03:03] devianpctek opened #92 "No status code"
I'm getting the following error using source=2
`An error occurred with this application.
NO_STATUS_CODE_FROM_FUNCTION`

[2020-03-27 03:07] devianpctek commented on #81
so the error is not longer showing, closing this

[2020-03-27 03:07] #81 closed

[2020-03-27 10:40] vladsim commented on #91
With Luxembourg (LU) should be the *Cases per 1M* appx. 2366 and not 2 as it shows.
```26   │ Luxembourg (LU)                   │        1,453 │             │            9 │              │         6 │   1,438 │        3 │              2 ║```
Assume, comma is the problem.

[2020-03-28 00:54] grravity commented on #82
Was curious about this too, thank you!

[2020-03-28 03:51] rolandoesc opened #94 "Data from Venezuela can't be retrieved individually"
Hello,

I've been trying to fetch data from Venezuela by it's own (https://corona-stats.online/VE?format=json / https://corona-stats.online/VEN?format=json) but it doesn't provide any answer, barely data: [] and worldStats.

Is this a bug or am I doing it wrong?

[2020-03-28 06:12] michalprochazka02 opened #95 "APIs for both sources have issues"
Hello,

I've tried to use the APIs for both sources, but each have their issues:

Source 1:
- the statistics for China only display the statistics for the province Hubei, so it's stuck on 67.8k for more than a week (only an API issue, in the table, it's correct)

Source 2:
- the reported countries are in the wrong order (China with 81.4k is above USA with 104k and Italy with 86.5k) - both an API a

[2020-03-28 09:48] cmunk commented on #41
It doesn't seem to be providing the historical timeseries?

I am looking at https://corona-stats.online/italy?format=json. Is it possible to access the timeseries?

[2020-03-28 10:22] hwiards commented on #95
Now China is on the last place in the order, when I query the data with:

curl 'https://corona-stats.online?minimal=true&source=2'

[2020-03-28 20:56] NicTanghe commented on #68
[code]

windows is probably just usyng the system32 curl.

can i delete that one and should it then work ?

[2020-03-29 01:31] Nyctratyl opened #98 "JSON output doesn't include update time"
As title says, when fetching with JSON formatting we lose the nice "Last updated"-stamp from the graphical version. Would love if this could be included :)

[2020-03-29 12:05] sevku opened #99 "Missing write access to /usr/local/lib"
I can't install using
`npm install coronavirus-tracker-cli -g` as stated in the readme

[2020-03-29 12:37] onzyone commented on #95
Looks like the issue with the `source=2` data is related to upstream data coming from here https://corona.lmao.ninja/countries

[2020-03-29 16:36] hwiards commented on #95
Then the reqest URL should be changed to: https://corona.lmao.ninja/countries?sort=cases

[2020-03-30 02:00] bill-luu opened #100 "Source 1 Causes TypeError"
Fresh installation through `npm install`, using source 1:

[code]

`source=2` works fine.

OS Information:
[code]

On node version 12.16.1

[2020-03-30 06:48] HirschBerge opened #101 "curl https://corona-stats.online/US no longer shows individual states"
I used to be able to curl to a file and grep the states to put in my bar, but it no longer shows the states, just total US. Thanks

[2020-03-30 10:10] kcallis commented on #101
Same issue as well

[2020-03-30 12:13] onzyone commented on #101
the default source is pointing to a source that doesn't show individual provinces ...

You can get the info by running like this `curl 'https://corona-stats.online/CA?source=1'`

[2020-03-31 02:30] Eddy-Arch opened #102 "no tracker for scotland"
cant belive there is no stats for our scottish lads.

[2020-03-31 18:25] HirschBerge commented on #101
This is something I've tried before, It does work with Canada (which I obviously had not tried), but it doesn't work with the US. it just brings up the overall US, not any of the states.

[2020-04-01 12:33] mock commented on #101
Will the state data return in some different format?

[2020-04-01 22:47] sagarkarira commented on #100
I think updating the package will solve this.

[2020-04-01 22:47] sagarkarira commented on #102
It's not available in the source API. If you have a source let me know I will try to add it.

[2020-04-01 23:01] sagarkarira commented on #101
Sorry, I was a busy past week. But I've added US state-wise stats here:
[https://corona-stats.online/states/us](https://corona-stats.online/states/us)

I will be adding other countries' state-wise API too. If you know sources please do share.

[2020-04-01 23:02] sagarkarira commented on #99
Try it with `sudo`.

[2020-04-01 23:03] sagarkarira commented on #94
I fixed it. Check now.

[2020-04-01 23:04] sagarkarira commented on #92
When source 2 API goes down Zeit gives this error.

[2020-04-01 23:04] #92 closed

[2020-04-01 23:15] HirschBerge commented on #101
Thank you

[2020-04-01 23:15] #101 closed

[2020-04-01 23:17] sagarkarira commented on #87
Yeah JHU is delayed by 1 day. Source 2 is near realtime.

[2020-04-01 23:25] sagarkarira commented on #95
@michalprochazka02

1.`top` param is not supported with `json` param.
2. recovered cases were removed by JHU. So the source API removed it too.

[2020-04-02 03:47] pabloab opened #105 "Graph with logarithmic scale"
By default, the graph is linear. Usually an exponential behavior is represented with a logarithmic scale (in base 2?). A linear graph is not very useful.

    curl https://corona-stats.online/US/graph?format=log&from=4w&include=active,recovered,fatal

[2020-04-02 08:11] sagarkarira commented on #91
Its fixed now.

[2020-04-02 08:11] #91 closed

[2020-04-02 08:12] sagarkarira commented on #85
I've pushed a fix in version 0.9.1

[2020-04-02 14:13] bratekarate commented on #85
Ok, there is another issue iwth 0.9.1, but I close this issue and open a new one.

[2020-04-02 14:13] #85 closed

[2020-04-02 14:18] bratekarate opened #106 "country folder not installed using npm"
When using the node package with `npm install -g coronavirus-tracker-cli`, the country directory is not installed. This results in the following error:

[code]
This is not an issue if using `cd <source_dir> && npm install -g`.

[2020-04-04 10:09] edwinvanderven opened #107 "The worldstats entry is no longer valid since World stats are added in the main list."
The worldStats object in the output is a composition of all the entries.
World has been added to the list of entries making the worldStats the double of actual reported cases.

First entry is now World.
<img width="868" alt="worldInMainStats" src="https://user-images.githubusercontent.com/39438810/78424303-f2300400-766c-11ea-8aa1-80e587ff6410.png">

Final entry is now incorrect.
<img width="866" a

[2020-04-04 16:06] edwinvanderven commented on #107
Seeing as this is fixed I am closing the issue 🙂

[2020-04-04 16:06] #107 closed

[2020-04-04 16:39] bill-luu commented on #100
Yeah I think that's the case, but I updated and now I have:
[code]

I think the `country` folder isn't on npm

[2020-04-07 12:51] 7cc commented on #68
1. Windows PowerShell + Invoke-WebRequest

[code]

2. Windows PowerShell + curl.exe

[code]

3. cmd.exe + curl.exe

[code]

There are two different problems;
1. Encoding - It depends on System Locale. Use `chcp` to change the console encode
2. Terminal Rendering - it seems conhost(?) is unable to render some characters directory from stdin.
  1. Output to a file and read it
  2. Use `Write-Output`

[2020-04-07 13:37] lateparty commented on #88
You can “steal” the one I made for my preferred cut of this data from:

https://corona.alekssav.com/favicon.ico

I found a generic Coronavirus molecule image with no rights attached (forgot source) and favicon’d it. If you go to that root site you can see it in action.

[2020-04-09 01:34] HirschBerge opened #108 "Request to add recoverd to https://corona-stats.online/states/us"
It would be nice to see something positive on https://corona-stats.online/states/us as well as all the deaths. Recovery % would be nice as well if possible

[2020-04-10 21:16] eabase commented on #68
What powershell version are you running?
[code]

[2020-04-12 19:51] mdebusk opened #109 "Feature request: Sort by cases per million"
I would like to receive the table sorted by cases  per million population. Most of Europe is getting hit hardest by this virus, but it looks like the US has it worst because its population is so much higher.

[2020-04-14 15:58] #94 closed

[2020-04-16 23:04] sbruselario opened #110 "Can't access to site: result.data.reduce is not a function"
URL: https://corona-stats.online/

Response:
    I am sorry. Something went wrong. Please report it

    result.data.reduce is not a function

Stay safe. Stay inside.
Code: https://github.com/sagarkarira/coronavirus-tracker-cli
Twitter: https://twitter.com/ekrysis

Last Updated on: 16-Apr-2020 23:04 UTC

US STATES API: https://corona-stats.online/states/us
HELP: https://corona-stats.online/help
SP

[2020-04-16 23:46] sagarkarira commented on #110
Thanks for reporting.
I fixed it.

[2020-04-16 23:46] #110 closed

[2020-04-27 16:42] xcession commented on #68
I also have this problem too. Both Linux and macOS.
- Linux (Arch Linux)
    - Curl 7.69.1 (Latest)
- macOS (Catalina)
    - Curl 7.64.1 (Stock)
    - Curl 7.69.1 (Homebrew)

[2020-04-28 12:46] leanjunio opened #112 "Getting an error when I try to run "corona""
Install via `npm install coronavirus-tracker-cli -g`
[code]

[2020-04-29 22:58] NicTanghe commented on #68
works with invoke method.

[2020-05-09 22:23] marcingajda opened #113 "The tracker is down"
I want to report that currently at 22:21 UTC the tracker is down.

![image](https://user-images.githubusercontent.com/6128754/81486311-28583900-9254-11ea-8c7b-5ad5d54ac38c.png)

Affected are both the [website](https://corona-stats.online/) and the [API](https://corona-stats.online/?format=json&source=2). I discovered it when someone reported me that [my project](https://github.com/marcingajda/covi

[2020-05-09 23:23] marcingajda commented on #113
It works again. Closing.

[2020-05-09 23:23] #113 closed

[2020-05-16 23:27] #112 closed

[2020-06-04 18:09] Astaruf commented on #7
Here's the public data repository https://github.com/pcm-dpc/COVID-19

[2020-08-11 13:22] NicTanghe opened #116 "[Feature request]way to remove the footer."
Node is being annoying and not working on my arch.

The text below is not a very clean looking at the top of my terminal.

I added it to my profile and I'm planning to add it to my CTR+L chortlut.
[code]

[2020-10-31 08:23] eastein opened #118 "data massively wrong"
New cases in the USA is 1,694 and in the world, 59,791 according to https://corona-stats.online/US right now. This is so wrong its not even funny. Fix your code or take down the website.

[2020-10-31 17:08] sagarkarira commented on #118
@eastein The data is scraped from https://www.worldometers.info/coronavirus/#countries. It will exactly match it. New cases are correct as shown in worldometer as well as this site.

You can be a little more constructive with the feedback and comment. The mention of this statement absolutely unnecessary. It's a free service that can be used by anybody. The code is open source so anyone can fork an

[2020-10-31 22:48] eastein commented on #118
I suppose I could be nicer, sorry for saying its not funny, but waiting for patches with the site up passing out wrong data is not good either.

[2020-11-06 11:42] #118 closed

[2020-11-06 19:58] eastein commented on #118
data is still wrong. When I reload https://corona-stats.online/US repeatedly it bounces back and forth between 68,680 and 58,102. I don't know what the right numbers are today but it should at least be consistent.

[2020-11-10 12:19] Darkov3 opened #119 "What happened to https://corona-stats.online/updates ?"
It seems to no longer function?

[2020-11-10 12:40] 0ryX commented on #119
I would also like to know this? Still very useful

[2020-11-15 10:50] Darkov3 commented on #119
Looking at:
https://github.com/sagarkarira/coronavirus-tracker-cli/blob/master/lib/reddit.js

It seems to take the data from data.mobile_embeds[0], but the data source used seems to always have 0 mobile_embeds now.

[2020-12-05 02:16] 0730kev opened #120 "Should add yesterday data"

[2020-12-22 09:13] #120 closed

[2021-01-02 18:48] 00lex opened #122 "vaccinated possible?"
Hi!

Does data for vaccinated people exist?
if, would you add it?

Thank you

[2021-01-29 04:50] 00lex commented on #122
can you integrate this data?

https://github.com/owid/covid-19-data/tree/master/public/data/vaccinations

[2021-01-31 22:03] eylles opened #125 "Adding a "Used In/By: " in the readme"
i use the curl interface in a small script for unix-like systems to display the data in a statusrbar/panel, https://github.com/eylles/corona-chan-tracker, and was wondering if you are okay with including it in the readme before i open a PR.

[2021-02-20 16:00] Rosika2 opened #126 "7-day-incidence values"
Hi all,

thank you for that wonderful and very useful **coronavirus-tracker-cli** which I´m using on a regular basis.

On behalf of a friend of mine I´d like to ask whether there´s any possibility of integrating **7-day-incidence values**.
At least here in Germany it seems to be of greater importance, perhaps in other countries too.

Thanks a lot in advance.

Many greetings.
Rosika

P.S.:

system:

[2021-02-22 07:47] #125 closed

[2021-04-02 18:51] pipiscrew opened #128 "Switch for sort by field"
hi,

basically, needed for the **active** cases field...

will be something like :
`https://corona-stats.online?sort=active`

this will be return the list sorted DESC by **active** field.

[2021-10-16 03:34] chitgoks opened #132 "Site is down"
Couldnt find a way to contact anyone. Twitter cannot be messaged.

[2021-10-16 03:44] sagarkarira commented on #132
The source url was changed. Should be working now.

[2021-11-21 03:08] Shirobachi opened #135 "API for Poland"
I saw that you don't provide new cases for poland, if you'd like I found API what is scrapping official government information:

GH: https://github.com/mateuszjanczak/koronawirus-api (Polish language)
API link: https://koronawirus-api.herokuapp.com/api/covid-vaccinations-tests/daily

Hope it's helpful!

[2021-12-30 16:43] macOneOone opened #136 "Framework issue"
Hey, hope you're doing fine.

Thanks for the api.

I found a bug where I execute curl into the route with space and return FUNCTION INVOCATION FAILED message.

Hope you can fix.

Please see below the print

![image](https://user-images.githubusercontent.com/16170629/147769952-eade3c4f-2575-4037-9f99-8558ebb95fab.png)

![image](https://user-images.githubusercontent.com/16170629/147770752-0c0a252b-b